@font-face{
        font-family:FranklinITCProBold;
        src: url('fonts/Franklin-ITC-Pro-Bold/e9e4c4dc-e548-4fef-9aa1-80c9cd0f02ce-3.woff');
      }
      @font-face{
        font-family:FranklinITCProLight;
        src: url('fonts/Franklin-ITC-Pro-Light/b147bee6-eb48-46e1-86e1-2538a46794b6-3.woff');
      }
      @font-face{
        font-family:FranklinITCProThin;
        src: url('fonts/Franklin-ITC-Pro-Thin/56bcaf21-92ef-486a-836d-19f261762e57-3.woff');
      }
      /*Cursor*/
      .blinking-cursor {
        width:100%;
        visibility:hidden;
        font-size: 24px;
        color: #2E3D48;
        -webkit-animation: 1s blink step-end infinite;
        -moz-animation: 1s blink step-end infinite;
        -ms-animation: 1s blink step-end infinite;
        -o-animation: 1s blink step-end infinite;
        animation: 1s blink step-end infinite;
      }

      @keyframes "blink" {
        from, to {
          color: transparent;
        }
        50% {
          color: black;
        }
      }

      @-moz-keyframes blink {
        from, to {
          color: transparent;
        }
        50% {
          color: black;
        }
      }

      @-webkit-keyframes "blink" {
        from, to {
          color: transparent;
        }
        50% {
          color: black;
        }
      }

      @-ms-keyframes "blink" {
        from, to {
          color: transparent;
        }
        50% {
          color: black;
        }
      }

      @-o-keyframes "blink" {
        from, to {
          color: transparent;
        }
        50% {
          color: black;
        }
      }

      .section-header {
        /*border-bottom: 1px solid #ccc;*/
        margin-bottom:30px;
      }

      ol.question-list {
        counter-reset: elementcounter;
            -webkit-padding-start: 0px;

      }
      .question-list li{
        display: table-row;

      }
      .question-list li.question:before{
        display: table-cell;
        text-align: right;
        padding-right:1em;
        margin-bottom:3em;
        /*font-family: FontAwesome;*/
        content: counter(elementcounter);  
        counter-increment:elementcounter; 
      }
      .question {
        opacity:0.5;
        font-size:14px;
        padding-bottom:60px!important;
      }
      .active {
        opacity:1;
      }
      
      .question-text {
        display:inline;
        /*font-family:FranklinITCProBold;*/
        font-size:20px;
        line-height: 24px;
        margin:15px 0px 15px 0px;
      }
      .answer-text {
        font-size:18px;
      }
      ol.answers{
        counter-reset: elementcounter;
      }
      .answers li {
        display: table-row;
        font-size:20;
        padding:15px 0px 15px 0px;
      }
      .answers li:before{
        display: table-cell;
        padding-right:1em;
        padding-bottom:1em;
        padding-top:1em;
        content: counter(elementcounter, upper-alpha);  
        counter-increment:elementcounter; 
      }
      .answers li.selected:before {
        display: table-cell;
        padding-right:1em;
        padding-bottom:1em;
        padding-top:1em;
        color:#3E5364;
        font-family:FranklinITCProBold;
        text-decoration: underline;
        content: counter(elementcounter, upper-alpha);  
        counter-increment:elementcounter; 
      }

      
      .texter:hover {
        cursor:pointer;
        text-decoration: underline;
      }

      .category-header {
        font-size: 14px;
        line-height: 24px;
        color: #9b9b9b;
        /*padding-bottom:10px;*/
        border-bottom:1px solid #CCC;
        margin-bottom:10px;
      }
      .category-kicker {
        /*font-size: 12px;*/
      }


      /* ATTACHMENTS */

      .attachments {
      }

        /* REGULAR PANE */
      .regular-pane {
        background-color: #FFF;
        border: 1px solid #d5d5d5;
        border-bottom: 2px solid #d5d5d5;
        box-shadow: none;
      }
      .regular-pane-header {
        background-color:#FFF!important;
      }
      .regular-pane-header>.panel-title {
        font-family: FranklinITCProBold;
        font-size: 14px;
        color:#3E5364;
      }
      .regular-pane-header>.panel-title>a:hover {
        text-decoration: none;
      }

      .fa-caret-down {
        color:#2F2F2F;
        float:right;
      }
      .upload {
        background:#F7F7F7;
      }
      .upload:hover {
        cursor:pointer;
      }
      .upload i {
        display:inline-block;
        vertical-align:top;

        font-size:28px;
        padding:20px 10px;
        /*margin-top:10px;*/
      }
      .upload-text {
        display:inline-block;
      }
      .upload .upload-text h6 {
        margin-top:18px;
        margin-bottom:0px;
      }
      .upload .upload-text h5 {
        margin-top25px;
      }
      .upload .upload-text h4 {
        margin-top:5px;
      }
      .upload .upload-text h4:hover {
        text-decoration: underline;
      }
      .upload span.filetype {
        font-family: Courier;
        font-weight:bold;
        color:#000;
        background:#D8E562;
        padding:1px 2px;
        border-radius:4px;
        margin-right:5px;
      }
      .upload span.upload-alts {
        font-family: FranklinITCProBold;
        font-weight: bold;
        color:#3A96D2;
        /*margin-top:40px;
        margin-right:40px;*/
      }
      








      .answer-button {
        cursor:pointer;
        margin-bottom:10px;
      }
      .answer-button:hover {
        text-decoration: underline;
      }
      .answer-button-icon {

      }

      .nav-tabs>li>a {
        color:#9b9b9b;
      }
      .nav-tabs>li.active {
        font-family: FranklinITCProBold;
      }
      

.nav-tabs>li.active>a {
  background:#f2f2f2!important;
}






.fa-long-arrow-right {
  display:none;
  font-size: 12px;
  transform:rotate(20deg);
}

















