@font-face{
        font-family:FranklinITCProBold;
        src: url('fonts/Franklin-ITC-Pro-Bold/e9e4c4dc-e548-4fef-9aa1-80c9cd0f02ce-3.woff');
      }
      @font-face{
        font-family:FranklinITCProLight;
        src: url('fonts/Franklin-ITC-Pro-Light/b147bee6-eb48-46e1-86e1-2538a46794b6-3.woff');
      }
      @font-face{
        font-family:FranklinITCProThin;
        src: url('fonts/Franklin-ITC-Pro-Thin/56bcaf21-92ef-486a-836d-19f261762e57-3.woff');
      }

      ol.question-list {
        counter-reset: elementcounter;
      }
      .question-list li{
        display: table-row;

      }
      .question-list li.question:before{
        display: table-cell;
        text-align: right;
        padding-right:1em;
        margin-bottom:3em;
        /*font-family: FontAwesome;*/
        content: counter(elementcounter);  
        counter-increment:elementcounter; 
      }
      .question {
        opacity:0.5;
        font-size:14px;
        padding-bottom:60px!important;
      }
      .active {
        opacity:1;
      }
      
      .question-text {
        display:inline;
        /*font-family:FranklinITCProBold;*/
        font-size:20px;
        line-height: 24px;
        margin:15px 0px 15px 0px;
      }
      .answer-text {
        font-size:18px;
      }
      ol.answers{
        counter-reset: elementcounter;
      }
      .answers li {
        display: table-row;
        font-size:20;
        padding:15px 0px 15px 0px;
      }
      .answers li:before{
        display: table-cell;
        padding-right:1em;
        padding-bottom:1em;
        padding-top:1em;
        content: counter(elementcounter, lower-alpha);  
        counter-increment:elementcounter; 
      }




      .category-header {
        font-size: 16px;
        /*font-family: FranklinITCProBold;*/
        padding-bottom:10px;
        border-bottom:1px solid #CCC;
        margin-bottom:20px;
      }
      .category-kicker {
        /*font-size: 12px;*/
      }
      .add {
        font-size: 14px;
        /*height: 40px;*/
        width:100%;
        /*padding:3% 5% 3% 5%;*/
        border: 1px solid #CCC;
        border-bottom:2px solid #CCC!important;
        border-radius: 4px!important;
      }
      .add-border {
        width:100%;
        height:1px;
        background:#CCC;
        /*margin-top:4%;*/
      }
      .media-upload-option {
        /*padding:4%;*/
      }
      .media-upload-option-ex {
        /*height:38px;*/
        border-right: 1px solid #ccc;
      }
      .related-add {
        margin-top:20px;
      }

      .answer-button {
        cursor:pointer;
        margin-bottom:10px;
      }
      .answer-button:hover {
        text-decoration: underline;
      }
      .answer-button-icon {

      }

      /*.add-feedback {
        background:#FFF;
        border: 2px dotted #828282;
      }*/


























