@font-face{
        font-family:FranklinITCProBold;
        src: url('assets/fonts/Franklin-ITC-Pro-Bold/e9e4c4dc-e548-4fef-9aa1-80c9cd0f02ce-3.woff');
      }
      @font-face{
        font-family:FranklinITCProLight;
        src: url('assets/fonts/Franklin-ITC-Pro-Light/b147bee6-eb48-46e1-86e1-2538a46794b6-3.woff');
      }
      @font-face{
        font-family:FranklinITCProThin;
        src: url('assets/fonts/Franklin-ITC-Pro-Thin/56bcaf21-92ef-486a-836d-19f261762e57-3.woff');
      }

      ol.question-list {
        counter-reset: elementcounter;
      }
      .question-list li{
        display: table-row;

      }
      .question-list li.question:before{
        display: table-cell;
        text-align: right;
        padding-right:1em;
        margin-bottom:3em;
        font-family: FontAwesome;
        content: "\f013" counter(elementcounter) "\f0d7";  
        counter-increment:elementcounter; 
      }
      .question {
        opacity:0.5;
        font-size:14px;
        padding-bottom:60px!important;
      }
      .active {
        opacity:1;
      }
      
      .question-text {
        display:inline;
        font-family:FranklinITCProBold;
        font-size:20px;
        line-height: 24px;
        margin:15px 0px 15px 0px;
      }
      .answer-text {
        font-size:18px;
      }
      ol.answers{
        counter-reset: elementcounter;
      }
      .answers li {
        display: table-row;
        font-size:20;
        padding:15px 0px 15px 0px;
      }
      .answers li:before{
        display: table-cell;
        padding-right:1em;
        padding-bottom:1em;
        /*padding-top:2em;*/
        content: counter(elementcounter, lower-alpha);  
        counter-increment:elementcounter; 
      }
      .q-settings {
      }