@font-face{
        font-family:FranklinITCProBold;
        src: url('assets/fonts/Franklin-ITC-Pro-Bold/e9e4c4dc-e548-4fef-9aa1-80c9cd0f02ce-3.woff');
      }
      @font-face{
        font-family:FranklinITCProLight;
        src: url('assets/fonts/Franklin-ITC-Pro-Light/b147bee6-eb48-46e1-86e1-2538a46794b6-3.woff');
      }
      @font-face{
        font-family:FranklinITCProThin;
        src: url('assets/fonts/Franklin-ITC-Pro-Thin/56bcaf21-92ef-486a-836d-19f261762e57-3.woff');
      }

      .question-list{
        list-style-type:none; /* delete default counter */
        counter-reset:elementcounter; /* create custom counter and set it to 0 */
      }
      .question-list li:before{
        display:inline-block;
        font-family: FontAwesome;
        content: "\f0d7" counter(elementcounter); /* print out "Element " followed by the current counter value */
        counter-increment:elementcounter; /* increment counter */
      }
      

      .question {
        opacity:0.5;
      }
      .active {
        opacity:1;
      }
      li.question {
        font-size:14px;
      }
      
      .question-text {
        font-family:FranklinITCProBold;
        font-size:18px;
        line-height: 24px;
        margin:10px 0px 10px 0px;
      }
      .answer-text {
        font-size:18px;
      }
      .answers{
        list-style-type:none; /* delete default counter */
        counter-reset:elementcounter; /* create custom counter and set it to 0 */
      }
      .answers li:before{
        content: "custom-item " counter(elementcounter) ": "; /* print out "Element " followed by the current counter value */
        counter-increment:elementcounter; /* increment counter */
      }
      /*li:before {
        content:'x';
        color:green;
        top:-5px;
      }*/
      .q-settings {
      }